/* here you can put your own css to customize and override the theme */

.page-header.navbar {
	background:#fff;
	height:135px;
}
.page-header.navbar .page-logo .logo-default {
	margin:0;
}
.page-header.navbar .page-logo {
	width:auto;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle:hover {
    background-color: transparent;
}

.page-header.navbar .menu-toggler.sidebar-toggler {
	margin-top:65px;
	margin-left:250px;
	float:none;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown {
	margin-top:30px;
}
.page-sidebar.navbar-collapse,
.page-sidebar-closed .page-sidebar .page-sidebar-menu:hover .sub-menu, .page-sidebar-closed .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu:hover .sub-menu {
    background-color: #3e6170;
}
.page-sidebar .page-sidebar-menu>li.active.open>a>.arrow.open:before, .page-sidebar .page-sidebar-menu>li.active.open>a>.arrow:before, .page-sidebar .page-sidebar-menu>li.active>a>.arrow.open:before, .page-sidebar .page-sidebar-menu>li.active>a>.arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a>.arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a>.arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a>.arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a>.arrow:before {
    color: #fff;
}
.page-sidebar .page-sidebar-menu>li.open>a>i, .page-sidebar .page-sidebar-menu>li:hover>a>i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a>i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a>i {
    color: #fff;
}
.page-sidebar .page-sidebar-menu .sub-menu>li.active>a, .page-sidebar .page-sidebar-menu .sub-menu>li.open>a, .page-sidebar .page-sidebar-menu .sub-menu>li:hover>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.active>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.open>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li:hover>a {
    color: #fff;
    background: #f68f24!important;
}
.page-sidebar .page-sidebar-menu .sub-menu>li.active>a>i, .page-sidebar .page-sidebar-menu .sub-menu>li.open>a>i, .page-sidebar .page-sidebar-menu .sub-menu>li:hover>a>i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.active>a>i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.open>a>i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li:hover>a>i {
	color:#fff;
}
.page-sidebar .page-sidebar-menu>li.heading>h3, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.heading>h3 {
    color: #fff;
}
.page-sidebar .page-sidebar-menu>li.active.open>a>i, .page-sidebar .page-sidebar-menu>li.active>a>i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a>i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a>i {
	color:#fff;
}
.page-sidebar .page-sidebar-menu>li.active.open>a:hover, .page-sidebar .page-sidebar-menu>li.active>a:hover, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a:hover, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a:hover,
.page-sidebar .page-sidebar-menu>li.active.open>a, .page-sidebar .page-sidebar-menu>li.active>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a,
.page-sidebar .page-sidebar-menu>li.open>a, .page-sidebar .page-sidebar-menu>li:hover>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a {
    background: #f68f24;
    color: #fff;
}
.page-sidebar .page-sidebar-menu li.active>a>.arrow.open:before, .page-sidebar .page-sidebar-menu li.active>a>.arrow:before, .page-sidebar .page-sidebar-menu li:hover>a>.arrow.open:before, .page-sidebar .page-sidebar-menu li:hover>a>.arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li.active>a>.arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li.active>a>.arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li:hover>a>.arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li:hover>a>.arrow:before {
    color: #fff;
}
.page-sidebar .page-sidebar-menu>li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a {
    color: #ddd;
}
.page-sidebar .page-sidebar-menu .sub-menu>li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li>a {
    color: #eee;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown.open .dropdown-toggle {
    background-color: transparent;
}


.page-header-fixed .page-container {
    margin-top: 125px;
}

@media (min-width: 992px) {
	.page-sidebar.navbar-collapse {
		top:12px;
	}
	.page-sidebar-closed.page-sidebar-closed-hide-logo .page-header.navbar .page-logo .logo-default {
		display:inherit;
	}
	.page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed>li>a {
		padding: 14.5px 12px 12px;
	}
	.page-sidebar-closed .page-sidebar {
		position: fixed;
		z-index: 9999;
		height: 100% !important;
		top: 0 !important;
		margin: 0;
		left: 0;
	}
	.page-header.navbar {
		padding-left:55px;
		margin-right:25px;
	}
}
@media (min-width: 992px) {
	.page-sidebar-closed.page-sidebar-closed-hide-logo .page-header.navbar .menu-toggler.sidebar-toggler {
		display:none;
	}
}
@media (max-width: 991px) {
	.page-header.navbar .menu-toggler.responsive-toggler {
		margin-top:60px;
	}
	.page-sidebar .page-sidebar-menu {
		margin:0;
	}
	.page-sidebar .page-sidebar-menu>li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a {
		border-top: 1px solid #678098;
	}
	.page-sidebar, .page-sidebar.navbar-collapse.in {
		margin-top:-10px;
	}
}
@media (max-width: 767px) {
	.page-header.navbar {
		border-bottom:1px solid #eee;
	}
	.page-header.navbar .page-top {
		background: white;
		margin-top: 60px;
	}
	.page-header.navbar .top-menu .navbar-nav>li.dropdown-notification .dropdown-menu {
		margin-right: 0;
	}
	.page-header.navbar .top-menu .navbar-nav>li.dropdown-notification .dropdown-menu:after, .page-header.navbar .top-menu .navbar-nav>li.dropdown-notification .dropdown-menu:before {
		margin-right: 0;
	}
	.page-header.navbar .top-menu .navbar-nav>li.dropdown {
		margin-top: 0;
	}
	.page-sidebar.navbar-collapse {
		margin-top:75px !important;
	}
	.wallet-portlet p {
		border-right:none !important;
		margin-bottom:15px !important;
	}
	.wallet-portlet form .form-group.no-margin {
		margin-bottom:15px !important;
	}
}

/* Currency Dropdown */

.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended.dropdown-currency .dropdown-menu:after {
    border-bottom-color: #ffffff;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended.dropdown-currency .dropdown-menu .dropdown-menu-list>li>a {
	padding:10px 15px;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended.dropdown-currency .dropdown-menu {
	min-width: 50px !important;
    max-width: 100px;
}

/* Language Dropdown */ 

.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended.dropdown-language .dropdown-menu:after {
    border-bottom-color: #ffffff;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended.dropdown-language .dropdown-menu {
	min-width:auto;
	width:auto;
}
.dropdown-language .dropdown-menu>li>a:focus, .dropdown-language .dropdown-menu>li>a:hover {
	background-color:transparent;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-language{
	position: absolute;
    height: auto;
    margin: 0;
    right: 35px;
    top: 5px;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-language>.dropdown-toggle {
	padding:10px;
}

@media (min-width:768px) and (max-width: 991px) {
	.page-header.navbar .top-menu .navbar-nav>li.dropdown-language{
		right: 63px;
	}
}
@media (max-width: 767px) {
	.page-header.navbar .top-menu .navbar-nav>li.dropdown-language{
		left: 5px;
		bottom: -60px;
		top: inherit;
	}
	.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended>.dropdown-menu {
		left: 0;
		right: inherit;
		width: 45px !important;
	}
}

/* Wallet Portlet */

.wallet-portlet {
	padding:42px 50px 50px !important;
}
.wallet-portlet.portlet>.portlet-title>.nav-tabs {
	float:none;
}
.wallet-portlet.portlet.light>.portlet-title>.nav-tabs>li>a {
	font-weight:600;
	text-transform:uppercase;
}
.wallet-portlet.portlet.light>.portlet-title>.nav-tabs>li.active>a, 
.wallet-portlet.portlet.light>.portlet-title>.nav-tabs>li:hover>a {
    color: #f68f24;
}
.wallet-portlet .input-group,
.wallet-portlet .btn {
	width:100%;
}
.wallet-portlet p {
	margin: 0;
    position: relative;
    padding-left: 50px;
    font-size: 13px;
    margin-top: -5px !important;
	border-right: 1px solid #ddd;
}
.wallet-portlet .icon-wallet {
	font-size: 40px;
    color: #f68f24;
    position: absolute;
    left: 0;
    top: 15px;
}
.wallet-portlet .balance-amt {
	font-size: 18px;
    font-weight: 600;
}

.wallet-portlet #portlet_tab_transfer .escrow-row p {
	padding: 0;
    font-size: 15px;
    font-weight: 600;
    height: 45px;
    line-height: 45px;
}
.wallet-portlet .escrow-row p.milestone-total {
	border:none;
}

/* Transaction Table */

.transaction-table tbody td {
	font-size:13px;
	color:#888;
}
.transaction-table tbody td span {
	font-weight:600;
	color:#444;
}

.incoming-table.table>tbody>tr>td, 
.incoming-table.table>tbody>tr>th, 
.incoming-table.table>tfoot>tr>td, 
.incoming-table.table>tfoot>tr>th, 
.incoming-table.table>thead>tr>td, 
.incoming-table.table>thead>tr>th {
	vertical-align:middle;
}

.breadcrumb {
	padding:10px 0 15px;
}

.page-footer {
	text-align:center;
}
.page-footer .page-footer-inner {
	float:none;
}

.font-orange {
	color:#f68f24;
}
.font-green {
	color: #3e6170 !important;
}
.progress-bar.orange-haze {
    background: #f68f24!important;
    color: #fff!important;
}
.note.note-info.note-info-green {
    background-color: #ffffff;
    border-color: #3e6170;
}
.note.note-info.note-info-orange {
    background-color: #ffffff;
    border-color: #f68f24;
}
.btn-green,
.btn-orange {
	color:#fff;
	opacity:0.9;
	padding:5px 15px !important;
}
.btn-green {
	background: #3e6170 !important;
}
.btn-orange {
	background: #f68e23 !important;
}
.btn-orange:hover,
.btn-orange:focus,
.btn-green:hover,
.btn-green:focus {
	opacity:1;
	color:#fff;
}
form .btn {
	height:34px;
}
#transaction-confirm .input-group {
	width:100%;
}
.navbar .badge-success {
    background-color: #f68f24;
}
.label-warning {
    background-color: #f68f24;
}
.label-info {
    background-color: #3e6170;
}

/*Login*/

.login {
	background-color:#e9ecf3 !important;
}
.login form .btn {
	height:auto;
}
.login .content .create-account p a {
	color:#fff;
}
.login .content .create-account {
    background-color: #f68c20;
}
.login .content .create-account:last-child {
    margin-top: 30px;
    background-color: #03756f;
}

.page-content-wrapper .page-content,
.page-sidebar-closed .page-content-wrapper .page-content {
    margin-left: 39px !important;
}
.container {
	width: 1170px;
}
@media (min-width: 992px) and (max-width:1200px) {
	.container {
		width: 880px;
	}
}
@media (min-width: 768px) and (max-width:991px) {
	.page-content-wrapper .page-content,
	.page-sidebar-closed .page-content-wrapper .page-content {
		margin-left: 0 !important;
	}
	.container {
		width: 750px;
	}
}
@media (max-width:767px) {
	.page-content-wrapper .page-content,
	.page-sidebar-closed .page-content-wrapper .page-content {
		margin-left: 0 !important;
	}
	.container {
		width: 100%;
	}
}

.modal .modal-header{
	background-color: #03756f !important;
	color: #fff !important;
}


/************text *******************/
.text-center{
	text-align:center;
}
.pull-left{
	float:left;
}
.sa{
	direction: rtl;
}

.help-block{
	color: #fc3e3f;
}